div{border:solid 1px silver;}
p{border:1px solid rgb(255, 247, 233); height:50px; line-height: 50px; background:rgba(255, 247, 233, 0.5);}
div{position:relative; margin:30px 10px;}
h2{position: absolute; left:30px; top:-30px; background: #fff; margin:10px;}
body div:nth-of-type(2) p{background:rgba(255, 239, 231, 0.5)}