#container{width: 600px; margin:auto;}

/* ==========물품 한 칸========== */
.slot{border-top:1px solid silver; display:flex; justify-content:space-between; margin:5px 5px; padding-right:15px;}
.slot img{margin:10px; border-radius: 20px;}
.slot form{margin-top:5px;}
.my_product{margin-left:10px; display: flex;}

/* ==========상품 정보========== */
.my_product>div{display:flex; flex-direction: column; justify-content: center; margin-left: 10px;}
.my_product div *{box-sizing: border-box;}
.my_product>div>h2{margin-bottom:0;}
.my_product>div>h5{margin:0;}

/* ==========하트 마크========== */
input{display:none;}
label{font-size: 25px;}
label>i{color:silver;}
label>i:nth-of-type(1){color:orange;}
label i:nth-of-type(2){display:none;}
input:checked+label>i:nth-of-type(2){display:inline-block;}
input:checked+label>i:nth-of-type(1){display:none;}
